.titulo {
	padding: 2vw;
	text-align: center;
	font-size: 3.5vw;
	font-weight: bold;
}

.contenedorPrincipal {
	margin-left:7vw;
	margin-right:7vw;
	margin-bottom:7vw;
}

.carta {
	width: 70%;
	margin-top: 8vh;
	margin-right: auto;
	margin-left: auto;
	
}

body{
	min-height: 100vh;
}

footer {
	position:sticky;
	top:100%;
	overflow: hidden
}
p.no-line-break {
        display: inline;
    }
h1.greeting-user{
	
	text-align: left !important;
	font-size: 3.5vw !important;
	font-weight: bold!important;
}

.container .titulo {
	padding: 2vw;
	text-align: center;
	font-size: 3.5vw;
	font-weight: bold;
}
.centrar {
	text-align: center;
}
.contenedor-imagen{
	width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    height:auto; /* Mantiene la proporci칩n de aspecto de la imagen */
    max-width: 100%; /* Limita el ancho m치ximo del contenedor al 100% del contenedor padre */
    max-height: 100%; /* Limita la altura m치xima del contenedor al 100% del contenedor padre */
    overflow:auto; /* Evita que la imagen sobresalga del contenedor */
    display:flex; 
    border-radius: 20px;
}
.contenedor-imagen img {
	width: 100%; /* Asegura que la imagen ocupe el 100% del ancho disponible dentro del contenedor */
    height: auto; /* Mantiene la proporci칩n de aspecto de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}